n8n-workflows/03-rappels-rdv.json
{
  "name": "03 — Rappels rendez-vous",
  "nodes": [
    {
      "id": "sched",
      "name": "Tous les jours à 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "get_rdv",
      "name": "GET RDV J-1 et J-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/appointments' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,title,starts_at,ends_at,location,type,client_id,avocat_id,dossier_id,profiles!client_id(full_name,email),avocat:profiles!avocat_id(full_name,title)" },
            { "name": "status", "value": "in.(scheduled,confirmed)" },
            { "name": "starts_at", "value": "={{ 'gte.' + $now.plus({days: 1}).startOf('day').toISO() }}" },
            { "name": "starts_at", "value": "={{ 'lte.' + $now.plus({days: 2}).endOf('day').toISO() }}" },
            { "name": "order", "value": "starts_at.asc" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "compute",
      "name": "Tag J-1 ou J-2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300],
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nconst dayAfter = new Date(today);\ndayAfter.setDate(dayAfter.getDate() + 2);\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const appt = item.json;\n  const starts = new Date(appt.starts_at);\n  const startsDay = new Date(starts);\n  startsDay.setHours(0, 0, 0, 0);\n\n  let reminderType = null;\n  if (startsDay.getTime() === tomorrow.getTime())      reminderType = 'J-1';\n  else if (startsDay.getTime() === dayAfter.getTime()) reminderType = 'J-2';\n\n  if (reminderType) {\n    const timeStr = starts.toLocaleTimeString('fr-BE', { hour: '2-digit', minute: '2-digit' });\n    const dateStr = starts.toLocaleDateString('fr-BE', { weekday: 'long', day: 'numeric', month: 'long' });\n    results.push({\n      json: {\n        ...appt,\n        reminder_type: reminderType,\n        starts_formatted: dateStr + ' à ' + timeStr,\n        client_name:  appt.profiles?.full_name ?? 'Client',\n        client_email: appt.profiles?.email ?? '',\n        avocat_name:  appt.avocat?.full_name ?? 'votre avocat',\n        avocat_title: appt.avocat?.title ?? '',\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "if_j1",
      "name": "J-1 ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-j1",
              "leftValue": "={{ $json.reminder_type }}",
              "rightValue": "J-1",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "email_j1_client",
      "name": "Email J-1 client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 160],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  from: 'Maison Aldéric <rdv@maison-alderic.be>',\n  to: [$json.client_email],\n  subject: 'Rappel — Votre rendez-vous demain avec Maison Aldéric',\n  html: '<p>Cher(e) ' + $json.client_name + ',</p><p>Nous vous rappelons votre rendez-vous <strong>demain, ' + $json.starts_formatted + '</strong> avec ' + $json.avocat_title + ' ' + $json.avocat_name + '.</p>' + ($json.location ? '<p><strong>Lieu :</strong> ' + $json.location + '</p>' : '') + '<p>En cas d\\'empêchement, merci de nous prévenir le plus tôt possible au <a href=\"mailto:contact@maison-alderic.be\">contact@maison-alderic.be</a>.</p><p>Nous restons à votre disposition pour toute question.<br><strong>Maison Aldéric & Associés</strong>'\n}) }}",
        "options": {}
      }
    },
    {
      "id": "sms_j1_simul",
      "name": "SMS J-1 (simulé email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 160],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  from: 'Maison Aldéric <sms@maison-alderic.be>',\n  to: [$json.client_email],\n  subject: '[SMS simulé] RDV demain Maison Aldéric',\n  html: '<p><em>Ce message simule un SMS qui serait envoyé en Phase B via Twilio/Vonage.</em></p><p>Maison Aldéric : RDV demain ' + $json.starts_formatted + '. Contactez-nous si besoin : +32 2 000 00 00.</p>'\n}) }}",
        "options": {}
      }
    },
    {
      "id": "email_j2_client",
      "name": "Email J-2 client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 440],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  from: 'Maison Aldéric <rdv@maison-alderic.be>',\n  to: [$json.client_email],\n  subject: 'Rappel — Votre rendez-vous dans 2 jours avec Maison Aldéric',\n  html: '<p>Cher(e) ' + $json.client_name + ',</p><p>Nous vous rappelons votre rendez-vous <strong>' + $json.starts_formatted + '</strong> avec ' + $json.avocat_title + ' ' + $json.avocat_name + '.</p>' + ($json.location ? '<p><strong>Lieu :</strong> ' + $json.location + '</p>' : '') + '<p>Pour préparer au mieux cette rencontre, n\\'hésitez pas à rassembler les documents pertinents à votre dossier.</p><p>En cas d\\'empêchement, merci de nous prévenir rapidement.<br><strong>Maison Aldéric & Associés</strong>'\n}) }}",
        "options": {}
      }
    },
    {
      "id": "email_j2_avocat",
      "name": "Email J-2 avocat (briefing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 440],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  from: 'Maison Aldéric <agenda@maison-alderic.be>',\n  to: ['avocats@maison-alderic.be'],\n  subject: '[Agenda] RDV dans 2j — ' + $json.client_name + ' — ' + $json.starts_formatted,\n  html: '<p>Rappel agenda : rendez-vous dans 2 jours.</p><ul><li><strong>Client :</strong> ' + $json.client_name + '</li><li><strong>Date :</strong> ' + $json.starts_formatted + '</li>' + ($json.location ? '<li><strong>Lieu :</strong> ' + $json.location + '</li>' : '') + ($json.dossier_id ? '<li><strong>Dossier :</strong> ' + $json.dossier_id + '</li>' : '') + '</ul><p>La confirmation de présence client a été envoyée.</p>'\n}) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Tous les jours à 8h": {
      "main": [
        [{ "node": "GET RDV J-1 et J-2", "type": "main", "index": 0 }]
      ]
    },
    "GET RDV J-1 et J-2": {
      "main": [
        [{ "node": "Tag J-1 ou J-2", "type": "main", "index": 0 }]
      ]
    },
    "Tag J-1 ou J-2": {
      "main": [
        [{ "node": "J-1 ?", "type": "main", "index": 0 }]
      ]
    },
    "J-1 ?": {
      "main": [
        [{ "node": "Email J-1 client", "type": "main", "index": 0 }],
        [{ "node": "Email J-2 client", "type": "main", "index": 0 }]
      ]
    },
    "Email J-1 client": {
      "main": [
        [{ "node": "SMS J-1 (simulé email)", "type": "main", "index": 0 }]
      ]
    },
    "Email J-2 client": {
      "main": [
        [{ "node": "Email J-2 avocat (briefing)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03000000-0000-0000-0000-000000000001",
  "id": "03-rappels-rdv",
  "meta": {
    "instanceId": "maison-alderic-local"
  }
}
